.article {
  background-color: $background-color_1;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  &__text {
    margin-top: 24px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    @media screen and (min-width: 768px) {
      padding-right: 0;
      padding-left: 0;
      margin-top: 0;
      margin-left: 24px;
    }

    @media screen and (min-width: 1440px) {
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0.2px;
      padding-right: 0;
      padding-left: 0;
      margin-top: 16px;
      margin-left: 34px;
      margin-bottom: 20px;
    }
  }
  &__text-2 {
    padding-left: 16px;
    margin-top: 0;
    display: inline-block;

    @media screen and (min-width: 768px) {
      padding-left: 24px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
    }

    @media screen and (min-width: 1440px) {
      display: none;
    }
  }
  &__text-2-wrapper {
    display: block;
    max-height: 0;
    transition: all 0.3s;
    overflow: hidden;

    @media screen and (min-width: 1440px) {
      display: none;
    }

    &--expanded {
    }
  }
  &__text-3 {
    padding-left: 16px;
    margin-top: 0;
    display: none;

    @media screen and (min-width: 1440px) {
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0.2px;
      padding-right: 0;
      display: inline-block;
      padding-left: 0;
      margin-left: 34px;
    }
  }
  &__text-3-wrapper {
    display: none;
    max-height: 0;
    transition: all 0.3s;
    overflow: hidden;

    @media screen and (min-width: 1440px) {
      display: block;
    }

    &--expanded {
    }
  }
  &__read-more {
    display: flex;
    width: auto;
    align-items: center;
    text-decoration: none;
    color: $color_1;
    margin-left: 18px;
    border: none;
    background-color: $background-color_1;
    padding: 0;
    cursor: pointer;

    @media screen and (min-width: 768px) and (max-width: 1119.98px) {
      margin-left: 27px;
    }

    @media screen and (min-width: 1440px) {
      margin-left: 34px;
    }

    &--expanded {
      padding-top: 16px;
    }
  }
  &__expand-img {
    width: 24px;
    height: 24px;
    transform: var(--arrowRotation, rotate(0deg));
    transition: all 0.3s;

    &--expanded {
      transform: rotate(180deg);
    }
  }
  &__text-button {
    position: relative;
    margin: 0;
    padding-left: 9px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $color_2;
    font-weight: 500;

    &::before {
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      transform: var(--arrowRotation, rotate(0deg));
      transition: all 0.3s;
    }
  }
}
