.expand-brands {
  display: flex;
  height: 24px;
  width: 134px;
  padding: 0;
  gap: 9px;
  border: none;
  background-color: $background-color_1;
  color: $color_2;
  font-family: $font-family_3;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  cursor: pointer;


  &__expand-img {
    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
      background-color: $background-color_1;
      transition-duration: 0.3s;
    }

    &--upside {
      transform: rotate(180deg);
      transition-duration: 0.3s;
    }
  }

  &__text {
    margin: 0;
  }

  &--disabled {
    display: none;
  }
}
