.main {
  background-color: $background-color_1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 48px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    padding-bottom: 51px;
    gap: 36px;
  }

  &__cps-img {
    padding-bottom: 35px;
    background-color: $background-color_1;

    @media screen and (min-width: 768px) {
      padding-right: 25px;
      width: 50%;
    }

    @media screen and (min-width: 1440px) {
      flex-direction: row;
      gap: 36px;
      padding-top: 8px;
      padding-bottom: 0;
      padding-right: 28.65px;
    }
  }
}
