$color_1: #7e7e82;
$color_2: #1b1c21;
$font-family_1: 'TT lakes', sans-serif;
$font-family_2: 'TT lakes condensed', sans-serif;
$font-family_3: TT Lakes;
$border-color_1: #41f6d7;
$border-color_2: #b8ffec;
$border-color_3: #eaeaea;
$border-color_4: #d9fff5;
$background-color_1: #f8f8f8;
$background-color_2: white;
$background-color_3: #dddddd;
$background-color_4: #b5b6bc;
$background-color_5: none;
$background-color_6: transparent;
$background-color_7: #ff3e79;
$shadow-color_1: #0e185033;
$shadow-color_2: #454f7e05;
